<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="BaseFolder" value="C:\Users\e5582650\Desktop\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="ProcessDiscoveryDB" connectionString="Data Source=BLR1-LTG3WLQV2\SQLEXPRESS;Initial Catalog=ProcessDiscoveryDB;Persist Security Info=True;User ID=ProcessDiscovery;Password=Password@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>